.git
.gitignore
.github
.vscode
.idea

_skbuild
build
dist
*.egg-info
**/__pycache__
**/*.py[cod]

src/tomocupy/_cfunc_*.so
src/tomocupy/cfunc_*.py
**/*.so
**/*.o
**/*.dylib

docs/_build
docs/demo
**/*.ipynb
.ipynb_checkpoints

tests/data_rec
tests/out.txt
**/*.jpg
**/*.jpeg
**/*.png
**/*.tiff
**/*.npy

.coverage
.coverage.xml
.tox
htmlcov

Dockerfile
.dockerignore
apptainer.def
README.md
